html {
  scroll-snap-type: y mandatory;
  height: 100%;
}
body {
  height: 100%;
  background: rgb(54, 54, 54);
  overflow-x: hidden;
}
.onehundred {
  width: 100%;
  height: 100%;
}

h1,
h2 {
  font-family: "Dancing Script";

  mix-blend-mode: difference;
}
h2 {
  font-size: 3rem;
  color: white;
}
p {
  font-size: 1rem;
}

h2,
h3 {
  mix-blend-mode: difference;
  padding: 2rem;
}
h4 {
  mix-blend-mode: difference;
}
.myfont {
  font-family: "Dancing Script";
}
.v-spacer {
  border: #fff;
  border-width: 4px;
  position: relative;

  min-height: 100vh;
  width: 100%;
  scroll-snap-align: start;
}

svg {
  display: block;
}

#svg2 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.hidden {
  visibility: hidden;
}
.animation-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 4;
  pointer-events: none;
}

.page-bg {
  content: center;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}

.btn-my {
  border-color: #fff;
  color: #fff;
  mix-blend-mode: difference;
}
.padding {
  padding-top: 50px;
}
.text-my,
.fa,
.fab {
  color: #fff;
  stroke: none;
  mix-blend-mode: difference;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) contrast(200%) brightness(150%);
}

#sidebar-wrapper {
  padding: 0;
  /* border: 1px solid rgba(0, 0, 0, 0.3); */
  background: rgba(0, 0, 0, 0.3);
  color: #000;
  z-index: 999;
}
.nav-link {
  color: #000;
}

.service-icon {
  color: #000;
  background: rgba(255, 255, 255, 0.3);
  mix-blend-mode: difference;
}

.col,
.form-group {
  margin: 0.5em;
}
.form-control {
  background-color: rgba(255, 255, 255, 0.3);
}
.form-control::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.footer {
  z-index: 4;
  background: rgba(0, 0, 0);
  mix-blend-mode: difference;

  text-align: center;
  align-content: center;
}
section {
  z-index: 4;
  padding-left: 24px;
  padding-right: 24px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(255, 255, 255, 0.3);
  outline: 0 none;
}
.form-control:focus {
  box-shadow: none;
}

textarea:active,
input[type="text"]:active,
input[type="password"]:active,
input[type="datetime"]:active,
input[type="datetime-local"]:active,
input[type="date"]:active,
input[type="month"]:active,
input[type="time"]:active,
input[type="week"]:active,
input[type="number"]:active,
input[type="email"]:active,
input[type="url"]:active,
input[type="search"]:active,
input[type="tel"]:active,
input[type="color"]:active,
.uneditable-input:active {
  border-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(255, 255, 255, 0.3);
  outline: 0 none;
}
.form-control:active {
  box-shadow: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.mystyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.text-layer {
  width: 100%;
  top: 0%;
  left: 0%;
  padding: 30px;
  text-align: center;
}
.text-muted {
  text-align: justify;
}
.blog {
  width: 100%;
  height: 100%;
}

.content-section {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.container.flex-grow-1.container-fluid {
  overflow: auto;
}
.container.flex-grow-1.container-fluid::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
ul.list-inline.social-buttons {
  text-align: center;
  list-style: inside;
}

a.dib-post {
  background-color: #000 !important;
}
#dib-template-2 .dib-post-text h2,
#dib-template-2 .dib-post-text p,
#dib-template-2 a.dib-post {
  background-color: #000 !important;
  mix-blend-mode: normal;
  color: #fff !important;
  font-size: 2rem;
}
ul.dib-cat-menu li a {
  color: #fff !important;
}
ul.dib-cat-menu {
  list-style: none;
  margin: 3em auto;
  padding: 0.5em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: none !important;
  border-width: 0px 0 !important;
  color: #fff !important;
  font-size: 1rem;
}
#dib-template-2 .dib-post-text h2,
#dib-template-2 .dib-post-text p,
#dib-template-2 a.dib-post {
  color: #fff !important;
  font-size: 1rem;
}
#dib-template-2 .dib-post-single img {
  max-width: 300px !important;
  mix-blend-mode: normal !important;
}

a {
  color: #fff !important;
  text-decoration: none !important;
}
#dib-posts-col > div > div > h2 {
  color: #fff !important;
  text-decoration: none !important;
}
#dib-template-2 a.dib-post {
  background-color: #000 !important;
}
.pixiewhite {
  position: fixed;
  top: 15px;
  left: 15px;
  width: 50px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  z-index: 10;
}
.dip-pinned {
  background-color: #000 !important;
}
/* #dib-post-single > p.dib-post-featured-image {
  max-width: 300px !important;
  align-items: center !important;
  margin-left: auto;
  margin-right: auto;
}
#dib-post-single > p.dib-post-featured-image > img {
  max-width: 300px !important;
  align-self: center !important;
} */
